button{
    height: 50px;
    width: 70px;
    padding: 2px 2px 2px 2px;
    margin: 5px 5px 5px 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: blue;
    color: white;

}